<h3>BillPay & Recharge</h3>


<p>
    <b>
        {{boldHeading}}
    </b>
</p>
<div>
    <ul>
        <li *ngFor="let list of lists">
            {{list}}
        </li>
    </ul>
    







Add billers and pay your bills through the enhanced BillPay service, powered by BillDesk.

</div>

Please note your BillPay session will open in a new window while your NetBanking session here continues to remain active . Kindly ensure to also log out from your active NetBanking session here once you have exited the new enhanced BillPay module.

Click on "Continue" to experience the new enhanced BillPay.
