<h3>Fund Transfer</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Transfer within Bank</h5>
              <p class="card-text">(Re. 1 to Rs 25 Lacs per day)</p>
              <p>
                  <a href="#" class="card-link">View Demo</a>
              </p>
              <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">IMPS P2A - Instant transfer (365 days, 24X7)</h5>
              <p class="card-text">(Re. 1 to Rs 25 Lacs per day)</p>
              <p class="card-text">(IMPS Account No.)</p>
              <p>
                <a href="#" class="card-link">View Demo</a>
            </p>
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Tranfer to other bank (NEFT)</h5>
              <p class="card-text">(Also Credit Card Payment)</p>
              <p class="card-text">(Re. 1 to Rs 25 Lacs per day)</p>
              <p>
                <a href="#" class="card-link">View Demo</a>
            </p>
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Tranfer to other bank (RTGS)</h5>
              <p class="card-text">(Rs. 2 Lacs to Rs 25 Lacs per day)</p>
              <p>
                <a href="#" class="card-link">View Demo</a>
            </p>
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">IMPS P2P - Instant transfer (365 days, 24X7)</h5>
              <p class="card-text">(IMPS- Mobile No.)</p>
              <p>
                <a href="#" class="card-link">View Demo</a>
            </p>
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Transfer to eCMS Account</h5>
              <p class="card-text">(Virtual Account)</p>
              <p class="card-text">(Re. 1 to Rs 10 Lacs per day)</p>
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Foreign Outward Remittance</h5>
              <p class="card-text">(For Resident individual only)</p>
              <p class="card-text">(Upto 12,500 USD equivalent per remittance)</p>
              <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Cardless Cash Withdrawal</h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
              
            <p><button type="button" class="btn btn-primary">Go</button></p>
            </div>
          </div>    
    </div>   
    
</div>